.cardHolderDiv{
    display: block;
    margin: auto;
}

.cards{
    box-shadow: 0 4px 8px 0#dfdfdf, 0 6px 20px 0 #dfdfdf;
    margin: 100px;
    padding: 90px;
}

.cardHeader{
    color: #911d80;
    margin-bottom: 15px;
    text-align: center;
}

.payeeCard, .promotionCard, .paymentCard, .invoiceCard{
    box-shadow: 0 4px 8px 0#dfdfdf, 0 6px 20px 0 #dfdfdf;
    margin: 0px 10px 20px 10px;
    padding: 30px;
    width: 350px;
}